{% extends "tienda/base.html" %}
{% block titulo %}Iniciar sesión — MOTOPART{% endblock %}

{% block contenido %}
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-4">
    <div class="card p-4 mt-4">
      <h4 class="fw-bold text-center mb-4">Iniciar sesión</h4>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="mb-3">
          <label class="form-label">Correo electrónico</label>
          <input type="email" name="username" class="form-control" autofocus required>
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <button class="btn btn-mp w-100 py-2">Entrar</button>
      </form>
      <p class="text-center mt-3 mb-0 small">
        ¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}